In [13]:
               #Assignment-1
#1). Create a tuple called data with two values, (1, 2) and (3,4)
#ans/code:-
data=((1,2),(3,4)) #creating tuple named data

In [14]:
data #checking what has been stored in the tuple

((1, 2), (3, 4))

In [15]:
type(data)  # checking the type of the variable

tuple

In [16]:
#2). create the list [4,3,2,1] and assign it to variable numbers.
#ans/code:-
numbers=[4,3,2,1] # creating list with the name of numbers

In [17]:
numbers #checking what has been stored in the list

[4, 3, 2, 1]

In [18]:
type(numbers) # checking the type of the variable

list

In [19]:
#3).create a copy of the number list using [:]
#ans/code:-
numbers

[4, 3, 2, 1]

In [20]:
copy_of_numbers_list=numbers[:] #here i am selecting all the elements in the list named numbers by giving colon and storing them into the list named copy_of_numbers_list

In [21]:
copy_of_numbers_list #checking what has been stored in the list

[4, 3, 2, 1]

In [22]:
type(copy_of_numbers_list)  # checking the type of the variable

list

In [23]:
#4).Sort the numbers list in numerical order
#ans/code:-
numbers=[34,32,4,55,2,76,788,97,65,44] # creating list with the name of numbers and putting some random numbers

In [24]:
type(numbers) # checking the type of the variable

list

In [25]:
numbers.sort() #using sort function to sort the list in asscending order

In [26]:
numbers # checking the new sorted list

[2, 4, 32, 34, 44, 55, 65, 76, 97, 788]

In [27]:
#5). Create a tuple "cardinal_numbers" with "first", "second" and "third"
#ans/code:-
cardinal_numbers=("first", "second", "third")

In [28]:
cardinal_numbers #checking what has been stored in the tuple

('first', 'second', 'third')

In [29]:
type(cardinal_numbers) # checking the type of the variable

tuple

In [30]:
#6). display the second object in the tuple
#ans/code:-
name=('apple','grapes','banana','kiwi') # creating tuple

In [31]:
type(name) # checking the type of the variable

tuple

In [32]:
name #checking what has been stored in the tuple

('apple', 'grapes', 'banana', 'kiwi')

In [33]:
name2=list(name) # converting the tuple into list using list() function and assigning it to "name2" named list

In [34]:
name2 # checking the list variable

['apple', 'grapes', 'banana', 'kiwi']

In [35]:
name2[1] # displaying the second variable of the list "name2"

'grapes'

In [36]:
#7). Unpack the tuple into three strings and display them
#ans/code:-
vehicles=('car','bus','bike','auto','truck') # creating tuple

In [37]:
vehicles # checking the tuple values

('car', 'bus', 'bike', 'auto', 'truck')

In [38]:
(x,y,*z)=vehicles # unpacking the tuple using asterisk method, we use this when we try to unpack tuple but the number of variables are less than  number of values in the tuple
print(x) # using variable x to print the first value 
print(y) #using variable y to print the second value
print(z) #using variable z with * to print the remaining values of the tuple

car
bus
['bike', 'auto', 'truck']

In [39]:
#8).Create a tupple containing the letters of your name from a string
#ans/code:-
var=str(input("[please enter your name:-]")) # taking input from the user in string format
print("thank you for your input:- ") # printing a thank you message for giving the input
list1=[] # creating a blank list to add items one by one using loop
for i in var: # creating loop to access single-single values from string
    list1.append(i) # adding the current letter from the string to list
print("displaying the name entered by you:)",list1) # displaying the list 
name_tuple=tuple(list1) # coverting the list into tupple

[please enter your name:-]shankar
thank you for your input:-
displaying the name entered by you:) ['s', 'h', 'a', 'n', 'k', 'a', 'r']

In [40]:
name_tuple # displaying the letters of the string in tupple format

('s', 'h', 'a', 'n', 'k', 'a', 'r')

In [41]:
#9). Check whether or not x is in my_name
#ans/code:-
string=str(input("enter your name:- ")) # taking input from the user in string format
st=string.upper()
print("you have entered:- ",st) # displaying the input taken from user
print("checking if x is present in your name--") #checking if x is present in given string
if "X" in st: #using if condition to check if x present or not
    print("x found in your name") # displaying the message that x found in string
else:
    print("x not found in your name") # displaying the message that x not found in string

enter your name:- shankar
you have entered:-  SHANKAR
checking if x is present in your name--
x not found in your name

In [42]:
#10). Check whether or not s is in my_name
#ans/code:-
string2=str(input("enter your name:- ")) # taking input from the user in string format
st2=string2.upper()
print("you have entered:- ",st2) # displaying the input taken from user
print("checking if x is present in your name--") #checking if s is present in given string
if "S" in st2: #using if condition to check if s present or not
    print("S found in your name") # displaying the message that s found in string
else:
    print("S not found in your name") # displaying the message that s not found in string

enter your name:- shankar
you have entered:-  SHANKAR
checking if x is present in your name--
S found in your name